@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 30 30 30; /* black */
  --secondary: 255 255 255; /* white */
  --alternate: 113 73 230; /* purple */
  --danger: 243 78 78; /* red */
}